version: '3'

services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: rjdferreira-web
    restart: always
    ports:
      - "3000:80"
    environment:
      - NODE_ENV=production
