@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #111111;
  --foreground: #ffffff;
  --muted: #d4d4d4; /* neutral-300 */
}

body {
  color: var(--foreground);
  background: var(--background);
  font-feature-settings: "ss01", "ss02", "cv01", "cv02";
  -webkit-font-smoothing: antialiased;
}

::selection {
  background-color: #333;
  color: #fff;
}