@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #000000;
  --muted: #666666;
}

body {
  color: var(--foreground);
  background: var(--background);
}

::selection {
  background-color: #000;
  color: #fff;
}
